<div class="thumbnail">
  <div class="caption">
    <h3><%= @clinic.pages_title %> <%= t('.title') %></h3>
    <%= simple_form_for @clinic do |f| %>
        <%= f.input :title %>
        <%= f.input :phone %>
        <%= f.input :email %>
        <%= f.input :address %>
        <%= f.association :doctors, label_method: :surname_name, as: :check_boxes %>
        <%= f.button :submit, t('.submit') %>
    <% end %>
  </div>
</div>