<div class="row">
  <div class="col-sm-24 col-md-24">
    <div class="thumbnail">
      <div class="caption">
        <h3><%=	@clinic.title %></h3>
        <p>телефон: <%= @clinic.phone %></p>
        <p>email: <%= @clinic.email %></p>
        <p>адрес: <%= @clinic.address %></p>
        <p>
          <%= link_to t('actions.back'), clinics_path, class: 'btn btn-primary btn-m' %>
          <%= render 'changing_links', id: @clinic.id %>
        </p>
      </div>
      <div class="thumbnail">
        <div class="caption">
          <%= render 'specializations' %>
          <%= render 'doctors' %>
        </div>
      </div>
    </div>
  </div>
</div>