<div class="thumbnail">
  <div class="caption">
    <h3>Создание симптома</h3>
    <%= simple_form_for @symptom do |f| %>
        <%= f.input :title, label: 'Название симптома' %>
        <%= f.input :description, label: 'Описание симптома', as: :text %>
        <%= f.input :diseases, collection: @diseases, as: :check_boxes %>
        <%= f.button :submit, 'Создать' %>
    <% end %>
  </div>
</div>
