<div class="row">
  <div class="col-sm-24 col-md-24">
    <div class="thumbnail">
      <div class="caption">
        <h3><%=	@symptom.title %></h3>
        <p><%= @symptom.description %></p>
        <p>
          <%= link_to 'Назад', symptoms_path, class: 'btn btn-primary btn-m' %>
          <%= render 'changing_links', id: @symptom.id %>
        </p>
      </div>
      <div class="thumbnail">
        <div class="caption">
          <%= render 'diseases' %>
        </div>
      </div>
    </div>
  </div>
</div>