<div class="thumbnail">
  <div class="caption">
    <h3><%= @disease.pages_title %> болезнь</h3>
    <%= simple_form_for @disease do |f| %>
        <%= f.input :title %>
        <%= f.input :icd_code %>
        <%= f.input :description, as: :text %>
        <%= f.association :specializations, as: :check_boxes %>
        <%= f.association :symptoms, as: :check_boxes %>
        <%= f.button :submit, t('actions.save') %>
    <% end %>
  </div>
</div>