<div class="row">
  <div class="col-sm-24 col-md-24">
    <div class="thumbnail">
      <div class="caption">
        <h3><%=	@disease.title %></h3>
        <p><%= @disease.description %></p>
        <p><%= @disease.icd_code %></p>
        <p>
          <%= link_to 'Назад', diseases_path, class: 'btn btn-primary btn-m' %>
          <%= render 'changing_links', id: @disease.id %>
        </p>
      </div>
      <div class="thumbnail">
        <div class="caption">
          <%= render 'symptoms' %>
          <%= render 'specializations' %>
        </div>
      </div>
    </div>
  </div>
</div>