<div class="row">
  <div class="col-sm-24 col-md-24">
    <div class="thumbnail">
      <div class="caption">
        <h3><%=	@doctor.surname_name %> <%=	@doctor.patronymic %></h3>
        <p>Телефон: <%= @doctor.phone %></p>
        <p>Email: <%= @doctor.email %></p>
        <p>
          <%= link_to 'Назад', doctors_path, class: 'btn btn-primary btn-m' %>
          <%= render 'changing_links', id: @doctor.id %>
        </p>
      </div>
      <div class="thumbnail">
          <%= render 'grades' %>
          <%= render 'specializations' %>
          <%= render 'clinics' %>
        <div class="caption">
        </div>
      </div>
    </div>
  </div>
</div>